:root {
  /*FONTS:*/
  --heading-font: "Fjalla One", Arial, sans-serif;
  --paragraph-font: "Rokkitt", Garamond, serif;

  /*COLORS:*/
  --primary-color: #04030f;
  --secondary-color: #fcf7ff;
  --accent1-color: #7c7287;
  --accent2-color: #73c2be;
}


header {
  background-color: black;

}
nav {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  
}
.nav-link {
  background-color: black;
  color: white;
  text-decoration: none;
  font-family: var(--heading-font);
  font-weight: bold;
}

.link-link{
  color: black;
  
}

.foot-link{
  color: black;
  text-decoration: none;
  font-family: var(--heading-font);
  font-weight: bold;
  

}

.lightbox-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  text-align: center;
  /* color: white; */
}

.title{
    font-family: var(--heading-font);
    font-size: 1.2em;
    background-color: var(--accent1-color);
    padding: 5px;
    width: 100%;
}
.subtitle, .description{
    font-family: var(--paragraph-font);
      text-align: center;
      color: white;
}

.description-div {
  margin: auto;
  max-height: 200px;
  /* overflow-y: auto; */
  max-width: 75%;

}
.github-link {
  color: white;
}

.lightbox-div {
  display: "flex";
  flex-wrap: "wrap";
  /* flex-direction: row; */
  /* overflow-x: "auto"; */
  /* background-color: pink; */
}

.lightbox-image-div {
  margin: "5px";
  position: "relative";
  /* background-color: pink; */
}

.media-style{
  width: "200px";
  height: "150px";
  object-fit: "cover";
  cursor: "pointer";

}
.lightbox-image-style{
  width: "100%";
  height: "300px";
  object-fit: "contain";
}










.button-div >*{
  margin: 0 10px;
  background-color: var(--accent2-color);
  padding: 5px;
}
h1, .contact-h2{
  background-color: var(--accent2-color);
  padding: 20px;
  margin: 20px 10px;
  text-align: center;
}

h1, .about-h2, .gallery-h2, .contact-h2{
    font-family: var(--heading-font);
}

.gallery-h2{
    background-color: var(--accent1-color);
  font-family: var(--heading-font);
  padding: 20px;
  margin: 20px 10px;
  text-align: center;
}

.about-img{
  max-width: 75%;
  border: 8px solid var(--accent1-color);
  padding: 10px;
  margin: 2em;
}

.about-info{
  background-color: var(--accent2-color);
  padding: 1em;
  margin: 1em;
  font-family: var(--paragraph-font);
}
.about-h2{
  text-align: center;
}
.lightbox-wrapper{
  padding: 2em;
}
.select-skill{
  margin: 0 2em;
  padding: 10px;
}
.select-skill>select{
  padding: 5px;
  margin: 0 1em;
}
.skill-div{
  font-family: var(--paragraph-font);

}
.contact-p{
  max-width: 80%;
  text-align: center;
}
.footer{
  display: flex;
  justify-content: space-evenly;
  margin: 2em 0 0 0;
  background-color: var(--accent1-color);
  align-items: center;

}
.footer p{
  font-weight: bold;
}

@media only screen and (min-width: 800px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 20px;
  }

  .about-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
}

@media only screen and (min-width: 1200px){
  main{
    max-width: 80%;
    margin: auto;
  }
  .body-wrapper{
    border: 4px solid black;
    margin: 10px 0;
  }



}
